<template name="postItem">
  <div class="item">
    <a href="#">
      <img src="{{media_url}}" alt="">
      <h4>
        <a href="{{url}}">
          {{title}}
        </a>
        <p>
          {{description}}
        </p>
        <div>
          <img class="avatar" src="http://icons.iconarchive.com/icons/barkerbaggies/bag-o-tiles/64/Y-icon.png" alt="">
          <span class="author">
            Yosafat Ariel
          </span>
        </div>
    </h4>
    </a>
  </div>
</template>
